body {
    background-color: #f8f9fa;
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}