<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="jumbotron text-center">
        <h1 class="display-4">Beautiful Flowers, Delivered to Your Doorstep</h1>
        <p class="lead">Surprise your loved ones with fresh and stunning flowers</p>
        <a class="btn btn-primary btn-lg" href="/products" role="button">Shop now</a>
    </div>

    <div class="container">
        <div class="row">
            <div th:each="product : ${products}" class="col-md-4">
                <div class="most-bought card mb-4">
                    <img th:src="@{'/products/images/' + ${product.id}}" th:alt="${product.name}">
                    <div class="card-body">
                        <h5 th:text="${product.name}" class="card-title"></h5>
                        <p th:text="${product.price}" class="card-text"></p>
                        <form th:action="@{/products/addToCart/{id}(id=${product.id})}" th:method="POST">
                            <button type="submit" class="btn btn-primary buy-button">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
