<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Beautiful Flowers, Delivered to Your Doorstep</h1>
        <p class="lead">Surprise your loved ones with fresh and stunning flowers</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Order Now</a>
    </div>

    <!-- Featured Products Section -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="flower1.jpg" class="card-img-top" alt="Flower 1">
                    <div class="card-body">
                        <h5 class="card-title">Rose Bouquet</h5>
                        <p class="card-text">A classic arrangement of beautiful red roses.</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="flower2.jpg" class="card-img-top" alt="Flower 2">
                    <div class="card-body">
                        <h5 class="card-title">Lily Mix</h5>
                        <p class="card-text">An elegant mix of lilies in various colors.</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="flower3.jpg" class="card-img-top" alt="Flower 3">
                    <div class="card-body">
                        <h5 class="card-title">Sunflower Surprise</h5>
                        <p class="card-text">Brighten someone's day with a cheerful sunflower arrangement.</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
