<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container mt-5">
        <h2>Product Management</h2>

        <table class="table mt-3">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${products}">
                <td><img th:src="@{'/products/images/' + ${product.id}}" th:alt="${product.name}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <form th:action="@{'/products/remove/' + ${product.id}}" th:method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
